:root {
  --col1: rgb(255, 255, 255);
  --col2: rgb(240, 240, 240);
  --col3: rgb(200, 200, 200);
  --shad-light: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  --font: "Rajdhani", sans-serif;
  --colt: rgb(0, 0, 0);
  --colm: cornflowerblue;
}

* {
  box-sizing: border-box;
}
a {
  color: var(--colt);
  text-decoration: none;
}
body,
html {
  margin: 0;
  font-family: var(--font);
  color: var(--colt);
}
input,
textArea,
button {
  outline: none;
  font-family: var(--font);
}
button:hover, [type='submit']:hover{
  cursor:pointer;
}
input::placeholder {
  font-family: var(--font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
p {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
}

#full-body {
  position: fixed;
  top: 70px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 70px);
  overflow: auto;
  background: var(col1);
}
#loader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--col1);
}
#loader::before,
#loader::after,
#loader1,
#loader1::before,
#loader1::after {
  content: "";
  width: 200px;
  height: 200px;
  background: transparent;
  background-position: center;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -110px;
  margin-top: -110px;
  border-radius: 100%;
}
#loader::before {
  border: solid transparent 10px;
  border-top: solid var(--colm) 10px;
  animation: spin linear 2s infinite;
}
#loader::after {
  border: solid transparent 8px;
  border-top: solid var(--colm) 8px;
  animation: spin linear 1.75s infinite;
}
#loader1 {
  border: solid transparent 6px;
  border-top: solid var(--colm) 6px;
  animation: spin linear 1.5s infinite;
}
#loader::before {
  border: solid transparent 4px;
  border-top: solid var(--colm) 4px;
  animation: spin linear 1.25s infinite;
}
#loader::after {
  border: solid transparent 2px;
  border-top: solid var(--colm) 2px;
  animation: spin linear 1s infinite;
}
#loaderContent {
  animation: spin linear -1.5s infinite;
  width: 200px;
  height: 100px;
  background: transparent;
  background-position: center;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -110px;
  margin-top: -110px;
  border-radius: 100%;
  text-align: center;
  padding-top: 90px;
  font-size: 20px;
}
#logo-image {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
}
#navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 200px 0 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 5;
}
#navbar {
  position: fixed;
  width: 200px;
  height: calc(100% - 70px);
  top: 70px;
  left: 0;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 4;
  background: var(--col1);
}
#top-nav-options {
  position: absolute;
  right: 0%;
  top: 0;
}
#top-nav-options > a {
  color: transparent;
}
#top-nav-options > a > i {
  font-size: 50px;
  color: var(--col3);
  position: relative;
  top: -12.5px;
  left: -15px;
  margin-left: 20px;
}
#new-notif {
  position: absolute;
  top: 20px;
  right: 90px;
  background: dodgerblue;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 0 3px var(--col1);
  border-radius: 100%;
}
#user-image-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--col3);
  margin-top: 5px;
  margin-right: 5px;
}
#user-image-circle:hover {
  cursor: pointer;
}
#nav-search {
  margin-top: 10px;
  margin-left: 5px;
  max-width: 600px;
  height: 50px;
  width: calc(100% - 75px - 150px);
}
#search-value {
  width: calc(100% - 75px);
}
#search-submit {
  width: 75px;
}
#search-value > input {
  position: relative;
  top: 0;
  left: 45px;
  border: none;
  width: 100%;
  background: var(--col2);
  font-size: 19px;
  padding: 12.5px;
  border-radius: 0px 5px 5px 0px;
}
#search-submit > a > i {
  position: relative;
  top: 0;
  left: 70px;
  background: var(--col2);
  font-size: 25px;
  border: none;
  padding: 12.5px;
  border-radius: 5px 0px 0px 5px;
}
#search-submit > input:hover {
  cursor: pointer;
}
#navbar-user {
  overflow: hidden;
  background: var(--col1);
  position: fixed;
  top: 70px;
  width: 200px;
  z-index: 6;
  box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 15px;
}
#search-icon {
  display: none;
  display: relative;
  right: 20px;
}
#hamburger-button {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
}
#hamburger-button > i {
  color: var(--col3);
  font-size: 50px;
  padding: 5px;
}
#hamburger-button:hover {
  cursor: pointer;
}
#logo-form-img{
  width:100px;
  height:100px;
  position:relative;
  margin-top:20px;
  left:50%;
  margin-left:-50px;
}
#form-parent{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%; background:url('https://github.com/Conner1115/Prototron.Dev/blob/main/Prototron.Dev%20background.png?raw=true');
  background-position:center;
  background-size:cover;
  
}

.form-submit > input{
  margin-left:10%;
  margin-bottom:10px;
  width:80%;
  background:rgb(0,175,50);
  border:solid rgb(0,150,0) 1px;
  border-radius:5px;
  padding:5px;
  color:white;
  font-weight:bold;
  font-size:15px;
  margin-top:10px;
}
.form-label{
  margin-left:10%;
  margin-bottom:5px;
  margin-top:10px;
}
.hyperlink{
  color: dodgerblue;
}
.form-control > input{
  margin-left:10%;
  border:none;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
  padding:5px;
  font-size:15px;
  border-radius:5px;
  width:80%;
}
.form{
  position: absolute;
  margin:0;
  width:250px;
  z-index:2;
  background:var(--col1);
  border:solid var(--col3) 1px;
  border-radius:10px;
  box-shadow:var(--shad-light);
  margin: 0;
  top: 50%;
  left:50%;
  margin-left:-125px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.post-content:hover {
  cursor: pointer;
}
.post-stats {
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--colt);
}
.post-content {
  border-radius: 0 0 20px 20px;
  background: var(--col1);
  padding: 20px;
}
.post-cover-img {
  width: 100%;
  min-height: 150px;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.post-author {
  display: flex;
  position: relative;
  top: 10px;
  left: 10px;
  color: var(--col1);
}
.author-name {
  margin-left: 10px;
  text-shadow: 1px 1px 0px var(--colt), -1px 1px 0px var(--colt),
    1px -1px 0px var(--colt), -1px -1px 0px var(--colt);
}
.author-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--col3);
}
.post {
  min-width: 250px;
  max-width: 400px;
  background: var(--col1);
  box-shadow: var(--shad-light);
  border-radius: 20px;
}
.responsive-grid {
  display:grid;
  justify-content: center;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
}
.flex-wrapper {
  display: flex;
}
.nav-link {
  overflow: hidden;
  width: 175px;
  background: var(--col1);
  box-shadow: -200px 2px 0 var(--colm);
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  animation: nav-link-hov-b 0.5s 1;
  animation-fill-mode: forwards;
  font-size: 18px;
}
.form-control > input:focus{
  transition:0.25s;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.25), 0 0 0 1px rgba(0,100,200,0.5), 0 0 0 4px rgba(0,150,255,0.5);
}
.nav-link:hover {
  animation: nav-link-hov 0.5s 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.nav-down {
  transition: 1s;
  right: 0px;
}
.nav-up {
  transition: 1s;
  right: -210px;
}
.nav-in {
  animation: navbar-side 1s 1;
  animation-fill-mode: forwards;
}
.nav-out {
  animation: navbar-side-b 1s 1;
  animation-fill-mode: forwards;
}

@media (max-width: 450px) {
  #navbar-user {
    width: 100%;
    border-radius: 0;
  }
  .nav-up {
    right: -100%;
  }
  #nav-search {
    display: none;
  }
  #search-icon {
    display: initial;
  }
  #logo-image {
    left: 65px;
  }
  #navbar {
    left: -200px;
  }
  #navbar-top {
    box-shadow: 0px 0 5px 0 rgba(0, 0, 0, 0.25);
  }
  #full-body {
    left: 0;
    width: 100%;
  }
}
@media (max-width: 320px) {
  #logo-image {
    display: none;
  }
}

@keyframes navbar-side {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}
@keyframes navbar-side-b {
  to {
    left: -200px;
  }
  from {
    left: 0px;
  }
}
@keyframes nav-link-hov {
  from {
    box-shadow: -200px 2px 0 var(--colm);
  }
  to {
    box-shadow: 0px 2px 0 var(--colm);
  }
}
@keyframes nav-link-hov-b {
  to {
    box-shadow: -200px 2px 0 var(--colm);
  }
  from {
    box-shadow: 0px 2px 0 var(--colm);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
